*{
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: whitesmoke;

}


.reg-page {
    color: #555;
    padding: 30px;
    background: #fefefe;
    border: solid 1px #eee;
    box-shadow: 0 0 3px #eee;
}

.reg-header {
    color: #555;
    text-align: center;
    margin-bottom: 35px;
    border-bottom: solid 1px #eee;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.reg-page label {
    color: #777;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #72c02c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #585f69;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
h4 {
    line-height: 25px;
}
#dashboard {
    border-radius: 0;
    padding: 30px;
    background-color: white;
}



.social-links {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
}
.social-links > li {
    width: 30%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}
.navbar {
    padding-top: 26px;
    height: 100px;
    background-color: #00a7d0;
    border-radius: 0;
    color: white;
}
.navbar-brand{
    font-size: 30px;
    margin-top: 15px;
    text-shadow: none;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}
.navbar-nav li a{
    color: white;
    line-height: 29px;
    padding: 23px 18px 18px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-nav{
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.navbar-nav li a:hover {
    background-color: transparent;
    border-bottom: 2px solid #1cff9c;
}

.navbar-brand {
    color: wheat;
    font-size: 3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.service-block-light, .service-block-default {
    background: #fafafa;
    border: solid 1px #eee;
}
.service-block {
    padding: 20px 30px;
    text-align: center;
    margin-bottom: 20px;
}

span.letter-icon {
    background-color: #00a7d0;
    color: #ffffff;
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border: solid 1px #ffffff;
    font-weight: 600;
}

h2.heading-md {
    font-size: 20px;
    line-height: 24px;
}


/*Funny Box*/
/*----###################### Funny Box ###################---------------*/
.funny-box-blue {
    background: #00a7d0 ;
}

.funny-box {
    overflow: hidden;
    padding: 15px 20px;
    margin-bottom: 25px;

}

/*----######################END Funny Box ###################---------------*/

/*--------###################SKY FORM###################-----------*/
.sky-form {
    box-shadow: none;
    border: 1px solid #eeeeee;

}

.sky-form header {
    color: inherit;
    display: block;
    font-size: 20px;
    background: #fff;
    font-weight: 400;
    padding: 8px 30px;
}
.sky-form header {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 25px;
    font-weight: 300;
    color: #232323;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.sky-form section {
    margin-bottom: 20px;
}
.sky-form .input, .sky-form .select, .sky-form .textarea, .sky-form .radio, .sky-form .checkbox, .sky-form .toggle, .sky-form .button {
    position: relative;
    display: block;
}
.sky-form .icon-append, .sky-form .icon-prepend {
    color: #b3b3b3;
}
.sky-form .icon-append {
    right: 1px;
    padding: 0 3px;
    min-width: 34px;
}
.sky-form .icon-append, .sky-form .icon-prepend {
    top: 1px;
    height: 32px;
    font-size: 14px;
    line-height: 33px;
    background: inherit;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
    border-color: #bbb;
}
.sky-form .icon-append, .sky-form .icon-prepend {
    color: #ccc;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
    border-color: #e5e5e5;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
.sky-form .icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}
.sky-form .icon-append, .sky-form .icon-prepend {
    position: absolute;
    top: 5px;
    width: 29px;
    height: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
}
.sky-form .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}
.sky-form .tooltip {
    position: absolute;
    z-index: 1;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0,0,0,0.9);
    color: #fff;
    opacity: 0;
    -ms-transition: margin 0.3s, opacity 0.3s;
    -moz-transition: margin 0.3s, opacity 0.3s;
    -webkit-transition: margin 0.3s, opacity 0.3s;
}


.sky-form fieldset {
    display: block;
    padding: 25px 30px 5px;
    border: none;
    background: rgba(255,255,255,.9);
}
.sky-form .textarea .icon-append + textarea {
    padding-right: 46px;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
    border-color: #bbb;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    border-width: 1px;
    font-size: 14px;
    color: #404040;
}
.sky-form .input input {
    height: 34px;
    padding: 6px 12px;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
    border-color: #e5e5e5;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}
.sky-form .input input, .sky-form .select select, .sky-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 15px/19px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.sky-form footer {
    background: #fff;
    padding: 15px 30px;
}
.sky-form footer {
    display: block;
    padding: 15px 30px 25px;
    border-top: 1px solid rgba(0,0,0,.1);
}
.sky-form .label {
    border-radius: 0;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    color: inherit;
}
.sky-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
}
.label {
    padding: 0.2em 0 0.3em;
}
.sky-form .inline-group {
    margin: 0 -30px -4px 0;
}
.sky-form .inline-group .radio, .sky-form .inline-group .checkbox {
    float: left;
    margin-right: 30px;
}
.sky-form .radio, .sky-form .checkbox {
    font-weight: 400;
}
.sky-form .radio, .sky-form .checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 15px;
    line-height: 27px;
    color: #404040;
    cursor: pointer;
}
.sky-form .input, .sky-form .select, .sky-form .textarea, .sky-form .radio, .sky-form .checkbox, .sky-form .toggle, .sky-form .button {
    position: relative;
    display: block;
}
.radio, .checkbox {
    margin-top: 0;
}


/*--------###################END SKY FORM###################-----------*/